
    <ion-content padding="'true'" class="has-header">
        <div>
            <p>
                <strong></strong>
            </p>
        </div>
        <button ng-click="checkout()" class="button button-positive button-block ">Check Out</button>
		
		<div ng-repeat="item in cart"   >
			<div class="list card" >
				<div class="item item-divider"> </div>
				<div class="item item-body">
				
					<form class="list"></form>
					<div>
						<p>
							<strong> &#8377; </strong>
						</p>
					</div>
					<div class="button-bar">
						<button ng-click="removeFromCart(item.cart_item_id)" class="button button-assertive button-block button-small icon ion-android-delete" ></button>
						<button class="button button-stable button-clear button-block button-small icon ion-plus" ng-click="inc(item.cart_item_id)"></button>
						<button class="button button-stable button-clear button-block button-small"></button>
						<button class="button button-stable button-clear button-block  icon ion-minus" ng-click="dec(item.cart_item_id)" ></button>
					</div>
				</div>
			</div>
		</div>
		
		
		
		
    </ion-content>
